# Jupyter cache
.ipynb_checkpoints/

# Python cache
__pycache__/
*.pyc

# Large data files
*.tif
*.tiff
*.img
*.vrt
*.nc
*.h5
*.hdf5
*.npy
*.npz

# Model checkpoints
*.pth
*.pt
*.ckpt

# Temporary / system files
*.tmp
*.log
.DS_Store
Thumbs.db
desktop.ini